xml/extern/hibernate/config.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!--W3C Schema generated by XMLSpy v2005 U (http://www.xmlspy.com)-->
<!--Please add namespace attributes, a targetNamespace attribute and import elements according to your requirements-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="hibernate-configuration">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="session-factory"/>
				<xs:element ref="security" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="property">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded"/>
			<xs:attribute name="name" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="mapping">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="xs_anyType">
					<xs:attribute name="resource" type="xs:string"/>
					<xs:attribute name="file" type="xs:string"/>
					<xs:attribute name="jar" type="xs:string"/>
					<xs:attribute name="package" type="xs:string"/>
					<xs:attribute name="class" type="xs:string"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="class-cache">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="xs_anyType">
					<xs:attribute name="class" type="xs:string" use="required"/>
					<xs:attribute name="region" type="xs:string"/>
					<xs:attribute name="usage" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:NMTOKEN">
								<xs:enumeration value="read-write"/>
								<xs:enumeration value="read-only"/>
								<xs:enumeration value="nonstrict-read-write"/>
								<xs:enumeration value="transactional"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="include" default="all">
						<xs:simpleType>
							<xs:restriction base="xs:NMTOKEN">
								<xs:enumeration value="non-lazy"/>
								<xs:enumeration value="all"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="collection-cache">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="xs_anyType">
					<xs:attribute name="collection" type="xs:string" use="required"/>
					<xs:attribute name="region" type="xs:string"/>
					<xs:attribute name="usage" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:NMTOKEN">
								<xs:enumeration value="read-write"/>
								<xs:enumeration value="read-only"/>
								<xs:enumeration value="nonstrict-read-write"/>
								<xs:enumeration value="transactional"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="event">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="listener" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="type" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="post-delete"/>
						<xs:enumeration value="load-collection"/>
						<xs:enumeration value="auto-flush"/>
						<xs:enumeration value="replicate"/>
						<xs:enumeration value="dirty-check"/>
						<xs:enumeration value="flush"/>
						<xs:enumeration value="post-update"/>
						<xs:enumeration value="refresh"/>
						<xs:enumeration value="load"/>
						<xs:enumeration value="evict"/>
						<xs:enumeration value="merge"/>
						<xs:enumeration value="create"/>
						<xs:enumeration value="post-commit-insert"/>
						<xs:enumeration value="delete"/>
						<xs:enumeration value="save"/>
						<xs:enumeration value="flush-entity"/>
						<xs:enumeration value="lock"/>
						<xs:enumeration value="post-insert"/>
						<xs:enumeration value="post-commit-update"/>
						<xs:enumeration value="update"/>
						<xs:enumeration value="pre-load"/>
						<xs:enumeration value="post-load"/>
						<xs:enumeration value="pre-update"/>
						<xs:enumeration value="create-onflush"/>
						<xs:enumeration value="save-update"/>
						<xs:enumeration value="post-commit-delete"/>
						<xs:enumeration value="pre-delete"/>
						<xs:enumeration value="pre-insert"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="listener">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="xs_anyType">
					<xs:attribute name="type">
						<xs:simpleType>
							<xs:restriction base="xs:NMTOKEN">
								<xs:enumeration value="post-delete"/>
								<xs:enumeration value="load-collection"/>
								<xs:enumeration value="auto-flush"/>
								<xs:enumeration value="replicate"/>
								<xs:enumeration value="dirty-check"/>
								<xs:enumeration value="flush"/>
								<xs:enumeration value="post-update"/>
								<xs:enumeration value="refresh"/>
								<xs:enumeration value="load"/>
								<xs:enumeration value="evict"/>
								<xs:enumeration value="merge"/>
								<xs:enumeration value="create"/>
								<xs:enumeration value="post-commit-insert"/>
								<xs:enumeration value="delete"/>
								<xs:enumeration value="save"/>
								<xs:enumeration value="flush-entity"/>
								<xs:enumeration value="lock"/>
								<xs:enumeration value="post-insert"/>
								<xs:enumeration value="post-commit-update"/>
								<xs:enumeration value="update"/>
								<xs:enumeration value="pre-load"/>
								<xs:enumeration value="post-load"/>
								<xs:enumeration value="pre-update"/>
								<xs:enumeration value="create-onflush"/>
								<xs:enumeration value="save-update"/>
								<xs:enumeration value="post-commit-delete"/>
								<xs:enumeration value="pre-delete"/>
								<xs:enumeration value="pre-insert"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="class" type="xs:string" use="required"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="session-factory">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="property" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="mapping" minOccurs="0" maxOccurs="unbounded"/>
				<xs:choice minOccurs="0" maxOccurs="unbounded">
					<xs:element ref="class-cache"/>
					<xs:element ref="collection-cache"/>
				</xs:choice>
				<xs:element ref="event" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="listener" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="name" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="security">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="grant" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="context" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="grant">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="xs_anyType">
					<xs:attribute name="role" type="xs:string" use="required"/>
					<xs:attribute name="entity-name" type="xs:string" use="required"/>
					<xs:attribute name="actions" type="xs:string" use="required"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="xs_anyType"/>
</xs:schema>
