xml/extern/apache/manualpage.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!--W3C Schema generated by XMLSpy v2005 U (http://www.xmlspy.com)-->
<!--Please add namespace attributes, a targetNamespace attribute and import elements according to your requirements-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="title">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="em"/>
				<xs:element ref="strong"/>
				<xs:element ref="code"/>
				<xs:element ref="a"/>
				<xs:element ref="br"/>
				<xs:element ref="directive"/>
				<xs:element ref="module"/>
				<xs:element ref="program"/>
				<xs:element ref="img"/>
				<xs:element ref="cite"/>
				<xs:element ref="q"/>
				<xs:element ref="dfn"/>
				<xs:element ref="var"/>
				<xs:element ref="transnote"/>
				<xs:element ref="glossary"/>
				<xs:element ref="phonetic"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="summary">
		<xs:complexType>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="p"/>
				<xs:element ref="example"/>
				<xs:element ref="note"/>
				<xs:element ref="table"/>
				<xs:element ref="ul"/>
				<xs:element ref="ol"/>
				<xs:element ref="dl"/>
				<xs:element ref="pre"/>
				<xs:element ref="blockquote"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="seealso">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="em"/>
				<xs:element ref="strong"/>
				<xs:element ref="code"/>
				<xs:element ref="a"/>
				<xs:element ref="br"/>
				<xs:element ref="directive"/>
				<xs:element ref="module"/>
				<xs:element ref="program"/>
				<xs:element ref="img"/>
				<xs:element ref="cite"/>
				<xs:element ref="q"/>
				<xs:element ref="dfn"/>
				<xs:element ref="var"/>
				<xs:element ref="transnote"/>
				<xs:element ref="glossary"/>
				<xs:element ref="phonetic"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="modulelist">
		<xs:complexType>
			<xs:sequence maxOccurs="unbounded">
				<xs:element ref="module"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="section">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="title"/>
				<xs:element ref="related" minOccurs="0"/>
				<xs:choice minOccurs="0" maxOccurs="unbounded">
					<xs:element ref="section"/>
					<xs:element ref="p"/>
					<xs:element ref="example"/>
					<xs:element ref="note"/>
					<xs:element ref="table"/>
					<xs:element ref="ul"/>
					<xs:element ref="ol"/>
					<xs:element ref="dl"/>
					<xs:element ref="pre"/>
					<xs:element ref="blockquote"/>
				</xs:choice>
			</xs:sequence>
			<xs:attribute name="id" type="xs:ID"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="related">
		<xs:complexType>
			<xs:choice maxOccurs="unbounded">
				<xs:element ref="modulelist"/>
				<xs:element ref="directivelist"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="directivelist">
		<xs:complexType>
			<xs:sequence maxOccurs="unbounded">
				<xs:element ref="directive"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="module">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded"/>
			<xs:attribute name="status" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="directive">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded"/>
			<xs:attribute name="module" type="xs:string"/>
			<xs:attribute name="type" type="xs:string"/>
			<xs:attribute name="status" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="program">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="p">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="em"/>
				<xs:element ref="strong"/>
				<xs:element ref="code"/>
				<xs:element ref="a"/>
				<xs:element ref="br"/>
				<xs:element ref="directive"/>
				<xs:element ref="module"/>
				<xs:element ref="program"/>
				<xs:element ref="img"/>
				<xs:element ref="cite"/>
				<xs:element ref="q"/>
				<xs:element ref="dfn"/>
				<xs:element ref="var"/>
				<xs:element ref="transnote"/>
				<xs:element ref="glossary"/>
				<xs:element ref="phonetic"/>
			</xs:choice>
			<xs:attribute name="class" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="indent">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="indent"/>
				<xs:element ref="em"/>
				<xs:element ref="strong"/>
				<xs:element ref="code"/>
				<xs:element ref="a"/>
				<xs:element ref="br"/>
				<xs:element ref="directive"/>
				<xs:element ref="module"/>
				<xs:element ref="program"/>
				<xs:element ref="img"/>
				<xs:element ref="cite"/>
				<xs:element ref="q"/>
				<xs:element ref="dfn"/>
				<xs:element ref="var"/>
				<xs:element ref="transnote"/>
				<xs:element ref="glossary"/>
				<xs:element ref="phonetic"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="em">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="em"/>
				<xs:element ref="strong"/>
				<xs:element ref="code"/>
				<xs:element ref="a"/>
				<xs:element ref="br"/>
				<xs:element ref="directive"/>
				<xs:element ref="module"/>
				<xs:element ref="program"/>
				<xs:element ref="img"/>
				<xs:element ref="cite"/>
				<xs:element ref="q"/>
				<xs:element ref="dfn"/>
				<xs:element ref="var"/>
				<xs:element ref="transnote"/>
				<xs:element ref="glossary"/>
				<xs:element ref="phonetic"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="strong">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="em"/>
				<xs:element ref="strong"/>
				<xs:element ref="code"/>
				<xs:element ref="a"/>
				<xs:element ref="br"/>
				<xs:element ref="directive"/>
				<xs:element ref="module"/>
				<xs:element ref="program"/>
				<xs:element ref="img"/>
				<xs:element ref="cite"/>
				<xs:element ref="q"/>
				<xs:element ref="dfn"/>
				<xs:element ref="var"/>
				<xs:element ref="transnote"/>
				<xs:element ref="glossary"/>
				<xs:element ref="phonetic"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="code">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="indent"/>
				<xs:element ref="em"/>
				<xs:element ref="strong"/>
				<xs:element ref="code"/>
				<xs:element ref="a"/>
				<xs:element ref="br"/>
				<xs:element ref="directive"/>
				<xs:element ref="module"/>
				<xs:element ref="program"/>
				<xs:element ref="img"/>
				<xs:element ref="cite"/>
				<xs:element ref="q"/>
				<xs:element ref="dfn"/>
				<xs:element ref="var"/>
				<xs:element ref="transnote"/>
				<xs:element ref="glossary"/>
				<xs:element ref="phonetic"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="cite">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="em"/>
				<xs:element ref="strong"/>
				<xs:element ref="code"/>
				<xs:element ref="a"/>
				<xs:element ref="br"/>
				<xs:element ref="directive"/>
				<xs:element ref="module"/>
				<xs:element ref="program"/>
				<xs:element ref="img"/>
				<xs:element ref="cite"/>
				<xs:element ref="q"/>
				<xs:element ref="dfn"/>
				<xs:element ref="var"/>
				<xs:element ref="transnote"/>
				<xs:element ref="glossary"/>
				<xs:element ref="phonetic"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="q">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="em"/>
				<xs:element ref="strong"/>
				<xs:element ref="code"/>
				<xs:element ref="a"/>
				<xs:element ref="br"/>
				<xs:element ref="directive"/>
				<xs:element ref="module"/>
				<xs:element ref="program"/>
				<xs:element ref="img"/>
				<xs:element ref="cite"/>
				<xs:element ref="q"/>
				<xs:element ref="dfn"/>
				<xs:element ref="var"/>
				<xs:element ref="transnote"/>
				<xs:element ref="glossary"/>
				<xs:element ref="phonetic"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="dfn">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="em"/>
				<xs:element ref="strong"/>
				<xs:element ref="code"/>
				<xs:element ref="a"/>
				<xs:element ref="br"/>
				<xs:element ref="directive"/>
				<xs:element ref="module"/>
				<xs:element ref="program"/>
				<xs:element ref="img"/>
				<xs:element ref="cite"/>
				<xs:element ref="q"/>
				<xs:element ref="dfn"/>
				<xs:element ref="var"/>
				<xs:element ref="transnote"/>
				<xs:element ref="glossary"/>
				<xs:element ref="phonetic"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="var">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="em"/>
				<xs:element ref="strong"/>
				<xs:element ref="code"/>
				<xs:element ref="a"/>
				<xs:element ref="br"/>
				<xs:element ref="directive"/>
				<xs:element ref="module"/>
				<xs:element ref="program"/>
				<xs:element ref="img"/>
				<xs:element ref="cite"/>
				<xs:element ref="q"/>
				<xs:element ref="dfn"/>
				<xs:element ref="var"/>
				<xs:element ref="transnote"/>
				<xs:element ref="glossary"/>
				<xs:element ref="phonetic"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="transnote">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="em"/>
				<xs:element ref="strong"/>
				<xs:element ref="code"/>
				<xs:element ref="a"/>
				<xs:element ref="br"/>
				<xs:element ref="directive"/>
				<xs:element ref="module"/>
				<xs:element ref="program"/>
				<xs:element ref="img"/>
				<xs:element ref="cite"/>
				<xs:element ref="q"/>
				<xs:element ref="dfn"/>
				<xs:element ref="var"/>
				<xs:element ref="transnote"/>
				<xs:element ref="glossary"/>
				<xs:element ref="phonetic"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="a">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="em"/>
				<xs:element ref="strong"/>
				<xs:element ref="code"/>
				<xs:element ref="a"/>
				<xs:element ref="br"/>
				<xs:element ref="directive"/>
				<xs:element ref="module"/>
				<xs:element ref="program"/>
				<xs:element ref="img"/>
				<xs:element ref="cite"/>
				<xs:element ref="q"/>
				<xs:element ref="dfn"/>
				<xs:element ref="var"/>
				<xs:element ref="transnote"/>
				<xs:element ref="glossary"/>
				<xs:element ref="phonetic"/>
			</xs:choice>
			<xs:attribute name="href" type="xs:string"/>
			<xs:attribute name="name" type="xs:string"/>
			<xs:attribute name="id" type="xs:string"/>
			<xs:attribute name="rel" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="br">
		<xs:complexType>
			<xs:complexContent>
				<xs:restriction base="xs:anyType"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="example">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="title"/>
				<xs:element ref="indent"/>
				<xs:element ref="em"/>
				<xs:element ref="strong"/>
				<xs:element ref="code"/>
				<xs:element ref="a"/>
				<xs:element ref="br"/>
				<xs:element ref="directive"/>
				<xs:element ref="module"/>
				<xs:element ref="program"/>
				<xs:element ref="img"/>
				<xs:element ref="cite"/>
				<xs:element ref="q"/>
				<xs:element ref="dfn"/>
				<xs:element ref="var"/>
				<xs:element ref="transnote"/>
				<xs:element ref="glossary"/>
				<xs:element ref="phonetic"/>
				<xs:element ref="p"/>
				<xs:element ref="example"/>
				<xs:element ref="note"/>
				<xs:element ref="table"/>
				<xs:element ref="ul"/>
				<xs:element ref="ol"/>
				<xs:element ref="dl"/>
				<xs:element ref="pre"/>
				<xs:element ref="blockquote"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="note">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="title"/>
				<xs:element ref="em"/>
				<xs:element ref="strong"/>
				<xs:element ref="code"/>
				<xs:element ref="a"/>
				<xs:element ref="br"/>
				<xs:element ref="directive"/>
				<xs:element ref="module"/>
				<xs:element ref="program"/>
				<xs:element ref="img"/>
				<xs:element ref="cite"/>
				<xs:element ref="q"/>
				<xs:element ref="dfn"/>
				<xs:element ref="var"/>
				<xs:element ref="transnote"/>
				<xs:element ref="glossary"/>
				<xs:element ref="phonetic"/>
				<xs:element ref="p"/>
				<xs:element ref="example"/>
				<xs:element ref="note"/>
				<xs:element ref="table"/>
				<xs:element ref="ul"/>
				<xs:element ref="ol"/>
				<xs:element ref="dl"/>
				<xs:element ref="pre"/>
				<xs:element ref="blockquote"/>
			</xs:choice>
			<xs:attribute name="type" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="table">
		<xs:complexType>
			<xs:choice maxOccurs="unbounded">
				<xs:element ref="columnspec"/>
				<xs:element ref="tr"/>
			</xs:choice>
			<xs:attribute name="summary" type="xs:string"/>
			<xs:attribute name="width" type="xs:string"/>
			<xs:attribute name="bgcolor" type="xs:string"/>
			<xs:attribute name="cellspacing" type="xs:string"/>
			<xs:attribute name="cellpadding" type="xs:string"/>
			<xs:attribute name="border" type="xs:string"/>
			<xs:attribute name="style" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="columnspec">
		<xs:complexType>
			<xs:sequence maxOccurs="unbounded">
				<xs:element ref="column"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="column">
		<xs:complexType>
			<xs:complexContent>
				<xs:restriction base="xs:anyType">
					<xs:attribute name="width" type="xs:string"/>
				</xs:restriction>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="tr">
		<xs:complexType>
			<xs:choice maxOccurs="unbounded">
				<xs:element ref="th"/>
				<xs:element ref="td"/>
			</xs:choice>
			<xs:attribute name="valign" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="th">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="em"/>
				<xs:element ref="strong"/>
				<xs:element ref="code"/>
				<xs:element ref="a"/>
				<xs:element ref="br"/>
				<xs:element ref="directive"/>
				<xs:element ref="module"/>
				<xs:element ref="program"/>
				<xs:element ref="img"/>
				<xs:element ref="cite"/>
				<xs:element ref="q"/>
				<xs:element ref="dfn"/>
				<xs:element ref="var"/>
				<xs:element ref="transnote"/>
				<xs:element ref="glossary"/>
				<xs:element ref="phonetic"/>
				<xs:element ref="p"/>
				<xs:element ref="example"/>
				<xs:element ref="note"/>
				<xs:element ref="table"/>
				<xs:element ref="ul"/>
				<xs:element ref="ol"/>
				<xs:element ref="dl"/>
				<xs:element ref="pre"/>
				<xs:element ref="blockquote"/>
			</xs:choice>
			<xs:attribute name="colspan" type="xs:string"/>
			<xs:attribute name="rowspan" type="xs:string"/>
			<xs:attribute name="class" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="td">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="em"/>
				<xs:element ref="strong"/>
				<xs:element ref="code"/>
				<xs:element ref="a"/>
				<xs:element ref="br"/>
				<xs:element ref="directive"/>
				<xs:element ref="module"/>
				<xs:element ref="program"/>
				<xs:element ref="img"/>
				<xs:element ref="cite"/>
				<xs:element ref="q"/>
				<xs:element ref="dfn"/>
				<xs:element ref="var"/>
				<xs:element ref="transnote"/>
				<xs:element ref="glossary"/>
				<xs:element ref="phonetic"/>
				<xs:element ref="p"/>
				<xs:element ref="example"/>
				<xs:element ref="note"/>
				<xs:element ref="table"/>
				<xs:element ref="ul"/>
				<xs:element ref="ol"/>
				<xs:element ref="dl"/>
				<xs:element ref="pre"/>
				<xs:element ref="blockquote"/>
			</xs:choice>
			<xs:attribute name="colspan" type="xs:string"/>
			<xs:attribute name="rowspan" type="xs:string"/>
			<xs:attribute name="class" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="ul">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="li" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ol">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="li" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="type" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="li">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="em"/>
				<xs:element ref="strong"/>
				<xs:element ref="code"/>
				<xs:element ref="a"/>
				<xs:element ref="br"/>
				<xs:element ref="directive"/>
				<xs:element ref="module"/>
				<xs:element ref="program"/>
				<xs:element ref="img"/>
				<xs:element ref="cite"/>
				<xs:element ref="q"/>
				<xs:element ref="dfn"/>
				<xs:element ref="var"/>
				<xs:element ref="transnote"/>
				<xs:element ref="glossary"/>
				<xs:element ref="phonetic"/>
				<xs:element ref="p"/>
				<xs:element ref="example"/>
				<xs:element ref="note"/>
				<xs:element ref="table"/>
				<xs:element ref="ul"/>
				<xs:element ref="ol"/>
				<xs:element ref="dl"/>
				<xs:element ref="pre"/>
				<xs:element ref="blockquote"/>
			</xs:choice>
			<xs:attribute name="class" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="dl">
		<xs:complexType>
			<xs:choice maxOccurs="unbounded">
				<xs:element ref="dd"/>
				<xs:element ref="dt"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="dt">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="em"/>
				<xs:element ref="strong"/>
				<xs:element ref="code"/>
				<xs:element ref="a"/>
				<xs:element ref="br"/>
				<xs:element ref="directive"/>
				<xs:element ref="module"/>
				<xs:element ref="program"/>
				<xs:element ref="img"/>
				<xs:element ref="cite"/>
				<xs:element ref="q"/>
				<xs:element ref="dfn"/>
				<xs:element ref="var"/>
				<xs:element ref="transnote"/>
				<xs:element ref="glossary"/>
				<xs:element ref="phonetic"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="dd">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="em"/>
				<xs:element ref="strong"/>
				<xs:element ref="code"/>
				<xs:element ref="a"/>
				<xs:element ref="br"/>
				<xs:element ref="directive"/>
				<xs:element ref="module"/>
				<xs:element ref="program"/>
				<xs:element ref="img"/>
				<xs:element ref="cite"/>
				<xs:element ref="q"/>
				<xs:element ref="dfn"/>
				<xs:element ref="var"/>
				<xs:element ref="transnote"/>
				<xs:element ref="glossary"/>
				<xs:element ref="phonetic"/>
				<xs:element ref="p"/>
				<xs:element ref="example"/>
				<xs:element ref="note"/>
				<xs:element ref="table"/>
				<xs:element ref="ul"/>
				<xs:element ref="ol"/>
				<xs:element ref="dl"/>
				<xs:element ref="pre"/>
				<xs:element ref="blockquote"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="pre">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="em"/>
				<xs:element ref="strong"/>
				<xs:element ref="code"/>
				<xs:element ref="a"/>
				<xs:element ref="br"/>
				<xs:element ref="directive"/>
				<xs:element ref="module"/>
				<xs:element ref="program"/>
				<xs:element ref="img"/>
				<xs:element ref="cite"/>
				<xs:element ref="q"/>
				<xs:element ref="dfn"/>
				<xs:element ref="var"/>
				<xs:element ref="transnote"/>
				<xs:element ref="glossary"/>
				<xs:element ref="phonetic"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="img">
		<xs:complexType>
			<xs:complexContent>
				<xs:restriction base="xs:anyType">
					<xs:attribute name="src" use="required" type="xs:string"/>
					<xs:attribute name="alt" use="required" type="xs:string"/>
					<xs:attribute name="border" type="xs:string"/>
					<xs:attribute name="height" type="xs:string"/>
					<xs:attribute name="width" type="xs:string"/>
				</xs:restriction>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="blockquote">
		<xs:complexType>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="p"/>
				<xs:element ref="example"/>
				<xs:element ref="note"/>
				<xs:element ref="table"/>
				<xs:element ref="ul"/>
				<xs:element ref="ol"/>
				<xs:element ref="dl"/>
				<xs:element ref="pre"/>
				<xs:element ref="blockquote"/>
			</xs:choice>
			<xs:attribute name="cite" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="parentdocument">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded"/>
			<xs:attribute name="href" use="required" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="glossary">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="em"/>
				<xs:element ref="strong"/>
				<xs:element ref="code"/>
				<xs:element ref="a"/>
				<xs:element ref="br"/>
				<xs:element ref="directive"/>
				<xs:element ref="module"/>
				<xs:element ref="program"/>
				<xs:element ref="img"/>
				<xs:element ref="cite"/>
				<xs:element ref="q"/>
				<xs:element ref="dfn"/>
				<xs:element ref="var"/>
				<xs:element ref="transnote"/>
				<xs:element ref="glossary"/>
				<xs:element ref="phonetic"/>
			</xs:choice>
			<xs:attribute name="ref" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="phonetic">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="manualpage">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="parentdocument" minOccurs="0"/>
				<xs:element ref="title"/>
				<xs:element ref="summary" minOccurs="0"/>
				<xs:element ref="seealso" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="section" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="metafile" use="required" type="xs:string"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
