xml/draft/application/xml/xml-handler.dtd

<?xml version="1.0" encoding="UTF-8"?><!--DTD generated by XMLSPY v2004 rel. 3 U (http://www.xmlspy.com)--><!ELEMENT element (#PCDATA | scope | apply | element | attribute | process-instruction | comment)*><!ATTLIST element	name CDATA #REQUIRED	attributes CDATA #IMPLIED	class CDATA #IMPLIED><!ELEMENT xml-handler ((append | property)*, (import)*, (root, element*))><!ATTLIST xml-handler	extends CDATA #IMPLIED><!ELEMENT scope (#PCDATA | scope)*><!ATTLIST scope	type CDATA #REQUIRED><!ELEMENT apply (#PCDATA | scope)*><!ATTLIST apply	name CDATA #REQUIRED><!ELEMENT attribute (#PCDATA | scope)*><!ATTLIST attribute	name CDATA #REQUIRED><!ELEMENT process-instruction (#PCDATA | scope)*><!ELEMENT comment (#PCDATA | scope)*><!--Fragments appended to this document. predefined fragment as follows: head, tail, declare, define, custom--><!ELEMENT append (#PCDATA)><!ATTLIST append	position (head | tail | declare | define | custom) #IMPLIED	custom CDATA #IMPLIED><!--Properties of this section, for example, gdml - a parser generater define use property for: - programming language of the implementation- the algorithm usedetc. --><!ELEMENT property (#PCDATA)><!ATTLIST property	name CDATA #REQUIRED><!ELEMENT import ANY><!ELEMENT root (#PCDATA | scope | apply | element | attribute | process-instruction | comment)*><!ATTLIST root	name CDATA #REQUIRED	attributes CDATA #IMPLIED	class CDATA #IMPLIED>