xml/draft/application/database/mp-3/miml/PDF_iText.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v2004 rel. 2 U (http://www.xmlspy.com) by CORE 2K (CORE 2K) -->
<!--W3C Schema generated by XMLSPY v2004 rel. 2 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="pdf" type="richparagraph"/>
	<xs:complexType name="annotationType">
		<xs:attribute name="title" type="xs:string"/>
		<xs:attribute name="content" type="xs:string"/>
	</xs:complexType>
	<xs:complexType name="chapterType">
		<xs:sequence>
			<xs:element name="title" type="richtext" minOccurs="0"/>
			<xs:element name="sectioncontent" type="sectioncontentType"/>
		</xs:sequence>
		<xs:attribute name="depth" type="xs:string"/>
		<xs:attribute name="numberdepth" type="xs:string"/>
		<xs:attribute name="indent" type="xs:string"/>
		<xs:attribute name="indentationleft" type="xs:string"/>
		<xs:attribute name="indentationright" type="xs:string"/>
	</xs:complexType>
	<xs:complexType name="chunkType" mixed="true">
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element ref="newline"/>
			<xs:element ref="newpage"/>
			<xs:element name="entity" type="entityType"/>
			<xs:element ref="ignore"/>
		</xs:sequence>
		<xs:attribute name="font" type="xs:string"/>
		<xs:attribute name="size" type="xs:string"/>
		<xs:attribute name="style" type="xs:string"/>
		<xs:attribute name="color" type="xs:string"/>
		<xs:attribute name="red" type="xs:string"/>
		<xs:attribute name="green" type="xs:string"/>
		<xs:attribute name="blue" type="xs:string"/>
		<xs:attribute name="subsupscript" type="xs:string"/>
		<xs:attribute name="localgoto" type="xs:string"/>
		<xs:attribute name="localdestination" type="xs:string"/>
		<xs:attribute name="generictag" type="xs:string"/>
	</xs:complexType>
	<xs:complexType name="entityType">
		<xs:attribute name="id" type="xs:string"/>
	</xs:complexType>
	<xs:element name="ignore">
		<xs:complexType/>
	</xs:element>
	<xs:complexType name="imageType">
		<xs:attribute name="url" type="xs:string" use="required"/>
		<xs:attribute name="align" type="xs:string"/>
		<xs:attribute name="underlying" type="xs:string"/>
		<xs:attribute name="textwrap" type="xs:string"/>
		<xs:attribute name="alt" type="xs:string"/>
		<xs:attribute name="absolutex" type="xs:string"/>
		<xs:attribute name="absolutey" type="xs:string"/>
		<xs:attribute name="plainwidth" type="xs:string"/>
		<xs:attribute name="plainheight" type="xs:string"/>
		<xs:attribute name="rotation" type="xs:string"/>
	</xs:complexType>
	<xs:complexType name="listType">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="listitem" type="richtext"/>
			<xs:element ref="ignore"/>
		</xs:choice>
		<xs:attribute name="font" type="xs:string"/>
		<xs:attribute name="size" type="xs:string"/>
		<xs:attribute name="style" type="xs:string"/>
		<xs:attribute name="color" type="xs:string"/>
		<xs:attribute name="red" type="xs:string"/>
		<xs:attribute name="green" type="xs:string"/>
		<xs:attribute name="blue" type="xs:string"/>
		<xs:attribute name="indentationleft" type="xs:string"/>
		<xs:attribute name="indentationright" type="xs:string"/>
		<xs:attribute name="numbered" type="xs:string"/>
		<xs:attribute name="symbolindent" type="xs:string"/>
		<xs:attribute name="first" type="xs:string"/>
		<xs:attribute name="listsymbol" type="xs:string"/>
	</xs:complexType>
	<xs:element name="newline" nillable="true">
		<xs:complexType/>
	</xs:element>
	<xs:element name="newpage" nillable="true">
		<xs:complexType/>
	</xs:element>
	<xs:element name="row">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="cell" type="richparagraph" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="sectionType">
		<xs:sequence>
			<xs:element name="title" type="titleType" minOccurs="0"/>
			<xs:element name="sectioncontent" type="sectioncontentType"/>
		</xs:sequence>
		<xs:attribute name="depth" type="xs:string"/>
		<xs:attribute name="numberdepth" type="xs:string"/>
		<xs:attribute name="indent" type="xs:string"/>
		<xs:attribute name="indentationleft" type="xs:string"/>
		<xs:attribute name="indentationright" type="xs:string"/>
	</xs:complexType>
	<xs:complexType name="sectioncontentType" mixed="true">
		<xs:complexContent mixed="true">
			<xs:extension base="richtext"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="symbol">
		<xs:complexType>
			<xs:attribute name="id" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="tableType">
		<xs:sequence>
			<xs:element name="cell" type="richtext" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="red" type="xs:string"/>
		<xs:attribute name="green" type="xs:string"/>
		<xs:attribute name="blue" type="xs:string"/>
		<xs:attribute name="align" type="xs:string"/>
		<xs:attribute name="bgred" type="xs:string"/>
		<xs:attribute name="bggreen" type="xs:string"/>
		<xs:attribute name="bgblue" type="xs:string"/>
		<xs:attribute name="width" type="xs:string"/>
		<xs:attribute name="bordercolor" type="xs:string"/>
		<xs:attribute name="backgroundcolor" type="xs:string"/>
		<xs:attribute name="left" type="xs:string"/>
		<xs:attribute name="right" type="xs:string"/>
		<xs:attribute name="top" type="xs:string"/>
		<xs:attribute name="bottom" type="xs:string"/>
		<xs:attribute name="borderwidth" type="xs:string"/>
		<xs:attribute name="grayfill" type="xs:string"/>
		<xs:attribute name="columns" type="xs:string"/>
		<xs:attribute name="lastHeaderRow" type="xs:string"/>
		<xs:attribute name="cellpadding" type="xs:string"/>
		<xs:attribute name="cellspacing" type="xs:string"/>
		<xs:attribute name="widths" type="xs:string"/>
	</xs:complexType>
	<xs:complexType name="titleType" mixed="true">
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element ref="newline"/>
			<xs:element ref="newpage"/>
			<xs:element name="entity" type="entityType"/>
			<xs:element ref="ignore"/>
			<xs:element name="phrase" type="richtext"/>
			<xs:element name="chunk" type="chunkType"/>
			<xs:element name="annotation" type="annotationType"/>
		</xs:sequence>
		<xs:attribute name="font" type="xs:string"/>
		<xs:attribute name="size" type="xs:string"/>
		<xs:attribute name="style" type="xs:string"/>
		<xs:attribute name="color" type="xs:string"/>
		<xs:attribute name="red" type="xs:string"/>
		<xs:attribute name="green" type="xs:string"/>
		<xs:attribute name="blue" type="xs:string"/>
		<xs:attribute name="leading" type="xs:string"/>
		<xs:attribute name="indentationleft" type="xs:string"/>
		<xs:attribute name="indentationright" type="xs:string"/>
		<xs:attribute name="align" type="xs:string"/>
	</xs:complexType>
	<xs:complexType name="richtext" mixed="true">
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element ref="newline"/>
			<xs:element ref="newpage"/>
			<xs:element name="entity" type="entityType"/>
			<xs:element ref="ignore"/>
			<xs:element name="chunk" type="chunkType"/>
			<xs:element name="anchor" type="richtext"/>
			<xs:element name="phrase" type="richtext"/>
			<xs:element name="list" type="listType"/>
			<xs:element name="table" type="tableType"/>
			<xs:element name="annotation" type="annotationType"/>
			<xs:element name="chapter" type="chapterType"/>
		</xs:sequence>
		<xs:attribute name="title" type="xs:string"/>
		<xs:attribute name="subject" type="xs:string"/>
		<xs:attribute name="keywords" type="xs:string"/>
		<xs:attribute name="author" type="xs:string"/>
	</xs:complexType>
	<xs:complexType name="richparagraph">
		<xs:complexContent>
			<xs:extension base="richtext">
				<xs:sequence>
					<xs:element name="paragraph" type="richtext"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
