xml/extern/forrest/document-v20.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!--W3C Schema generated by XMLSpy v2005 U (http://www.xmlspy.com)-->
<!--Please add namespace attributes, a targetNamespace attribute and import elements according to your requirements-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xi="http://www.w3.org/2001/XInclude" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:import namespace="http://www.w3.org/2001/XInclude" schemaLocation="http://www.w3.org/2001/XInclude"/>
	<xs:element name="person">
		<xs:complexType>
			<xs:complexContent>
				<xs:restriction base="xs:anyType">
					<xs:attribute name="id" type="xs:ID"/>
					<xs:attribute name="class" type="xs:string"/>
					<xs:attribute name="name" type="xs:string" use="required"/>
					<xs:attribute name="email" type="xs:string" use="required"/>
				</xs:restriction>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="strong">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="strong"/>
				<xs:element ref="em"/>
				<xs:element ref="code"/>
				<xs:element ref="sub"/>
				<xs:element ref="sup"/>
				<xs:element ref="br"/>
				<xs:element ref="img"/>
				<xs:element ref="icon"/>
				<xs:element ref="acronym"/>
				<xs:element ref="map"/>
				<xs:element ref="xi:include"/>
				<xs:element ref="a"/>
			</xs:choice>
			<xs:attribute name="id" type="xs:ID"/>
			<xs:attribute name="class" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="em">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="strong"/>
				<xs:element ref="em"/>
				<xs:element ref="code"/>
				<xs:element ref="sub"/>
				<xs:element ref="sup"/>
				<xs:element ref="br"/>
				<xs:element ref="img"/>
				<xs:element ref="icon"/>
				<xs:element ref="acronym"/>
				<xs:element ref="map"/>
				<xs:element ref="xi:include"/>
				<xs:element ref="a"/>
			</xs:choice>
			<xs:attribute name="id" type="xs:ID"/>
			<xs:attribute name="class" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="code">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded"/>
			<xs:attribute name="id" type="xs:ID"/>
			<xs:attribute name="class" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="sup">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded"/>
			<xs:attribute name="id" type="xs:ID"/>
			<xs:attribute name="class" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="sub">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded"/>
			<xs:attribute name="id" type="xs:ID"/>
			<xs:attribute name="class" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="a">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="strong"/>
				<xs:element ref="em"/>
				<xs:element ref="code"/>
				<xs:element ref="sub"/>
				<xs:element ref="sup"/>
				<xs:element ref="br"/>
				<xs:element ref="img"/>
				<xs:element ref="icon"/>
				<xs:element ref="acronym"/>
				<xs:element ref="map"/>
				<xs:element ref="xi:include"/>
			</xs:choice>
			<xs:attribute name="id" type="xs:ID"/>
			<xs:attribute name="class" type="xs:string"/>
			<xs:attribute name="href" type="xs:string" use="required"/>
			<xs:attribute name="title" type="xs:string"/>
			<xs:attribute name="rel" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="br">
		<xs:complexType>
			<xs:complexContent>
				<xs:restriction base="xs:anyType">
					<xs:attribute name="id" type="xs:ID"/>
					<xs:attribute name="class" type="xs:string"/>
				</xs:restriction>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="img">
		<xs:complexType>
			<xs:complexContent>
				<xs:restriction base="xs:anyType">
					<xs:attribute name="src" type="xs:string" use="required"/>
					<xs:attribute name="alt" type="xs:string" use="required"/>
					<xs:attribute name="title" type="xs:string"/>
					<xs:attribute name="height" type="xs:string"/>
					<xs:attribute name="width" type="xs:string"/>
					<xs:attribute name="usemap" type="xs:string"/>
					<xs:attribute name="ismap">
						<xs:simpleType>
							<xs:restriction base="xs:NMTOKEN">
								<xs:enumeration value="ismap"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="id" type="xs:ID"/>
					<xs:attribute name="class" type="xs:string"/>
				</xs:restriction>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="map">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="area" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="name" type="xs:string"/>
			<xs:attribute name="id" type="xs:ID"/>
			<xs:attribute name="class" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="area">
		<xs:complexType>
			<xs:complexContent>
				<xs:restriction base="xs:anyType">
					<xs:attribute name="shape" default="rect">
						<xs:simpleType>
							<xs:restriction base="xs:NMTOKEN">
								<xs:enumeration value="circle"/>
								<xs:enumeration value="default"/>
								<xs:enumeration value="rect"/>
								<xs:enumeration value="poly"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="coords" type="xs:string"/>
					<xs:attribute name="href" type="xs:string" use="required"/>
					<xs:attribute name="title" type="xs:string"/>
					<xs:attribute name="rel" type="xs:string"/>
					<xs:attribute name="nohref">
						<xs:simpleType>
							<xs:restriction base="xs:NMTOKEN">
								<xs:enumeration value="nohref"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="alt" type="xs:string" use="required"/>
				</xs:restriction>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="icon">
		<xs:complexType>
			<xs:complexContent>
				<xs:restriction base="xs:anyType">
					<xs:attribute name="src" type="xs:string" use="required"/>
					<xs:attribute name="alt" type="xs:string" use="required"/>
					<xs:attribute name="height" type="xs:string"/>
					<xs:attribute name="width" type="xs:string"/>
					<xs:attribute name="id" type="xs:ID"/>
					<xs:attribute name="class" type="xs:string"/>
				</xs:restriction>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="acronym">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded"/>
			<xs:attribute name="title" type="xs:string" use="required"/>
			<xs:attribute name="id" type="xs:ID"/>
			<xs:attribute name="class" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="p">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="strong"/>
				<xs:element ref="em"/>
				<xs:element ref="code"/>
				<xs:element ref="sub"/>
				<xs:element ref="sup"/>
				<xs:element ref="br"/>
				<xs:element ref="img"/>
				<xs:element ref="icon"/>
				<xs:element ref="acronym"/>
				<xs:element ref="map"/>
				<xs:element ref="xi:include"/>
				<xs:element ref="a"/>
			</xs:choice>
			<xs:attribute name="id" type="xs:ID"/>
			<xs:attribute name="class" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="source">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="strong"/>
				<xs:element ref="em"/>
				<xs:element ref="code"/>
				<xs:element ref="sub"/>
				<xs:element ref="sup"/>
				<xs:element ref="br"/>
				<xs:element ref="img"/>
				<xs:element ref="icon"/>
				<xs:element ref="acronym"/>
				<xs:element ref="map"/>
				<xs:element ref="xi:include"/>
				<xs:element ref="a"/>
			</xs:choice>
			<xs:attribute name="id" type="xs:ID"/>
			<xs:attribute name="class" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="note">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="strong"/>
				<xs:element ref="em"/>
				<xs:element ref="code"/>
				<xs:element ref="sub"/>
				<xs:element ref="sup"/>
				<xs:element ref="br"/>
				<xs:element ref="img"/>
				<xs:element ref="icon"/>
				<xs:element ref="acronym"/>
				<xs:element ref="map"/>
				<xs:element ref="xi:include"/>
				<xs:element ref="a"/>
			</xs:choice>
			<xs:attribute name="label" type="xs:string"/>
			<xs:attribute name="id" type="xs:ID"/>
			<xs:attribute name="class" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="warning">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="strong"/>
				<xs:element ref="em"/>
				<xs:element ref="code"/>
				<xs:element ref="sub"/>
				<xs:element ref="sup"/>
				<xs:element ref="br"/>
				<xs:element ref="img"/>
				<xs:element ref="icon"/>
				<xs:element ref="acronym"/>
				<xs:element ref="map"/>
				<xs:element ref="xi:include"/>
				<xs:element ref="a"/>
			</xs:choice>
			<xs:attribute name="label" type="xs:string"/>
			<xs:attribute name="id" type="xs:ID"/>
			<xs:attribute name="class" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="fixme">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="strong"/>
				<xs:element ref="em"/>
				<xs:element ref="code"/>
				<xs:element ref="sub"/>
				<xs:element ref="sup"/>
				<xs:element ref="br"/>
				<xs:element ref="img"/>
				<xs:element ref="icon"/>
				<xs:element ref="acronym"/>
				<xs:element ref="map"/>
				<xs:element ref="xi:include"/>
				<xs:element ref="a"/>
			</xs:choice>
			<xs:attribute name="author" type="xs:string" use="required"/>
			<xs:attribute name="id" type="xs:ID"/>
			<xs:attribute name="class" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="table">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="caption" minOccurs="0"/>
				<xs:choice maxOccurs="unbounded">
					<xs:element ref="tr"/>
					<xs:element ref="xi:include"/>
				</xs:choice>
			</xs:sequence>
			<xs:attribute name="id" type="xs:ID"/>
			<xs:attribute name="class" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="caption">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="strong"/>
				<xs:element ref="em"/>
				<xs:element ref="code"/>
				<xs:element ref="sub"/>
				<xs:element ref="sup"/>
				<xs:element ref="br"/>
				<xs:element ref="img"/>
				<xs:element ref="icon"/>
				<xs:element ref="acronym"/>
				<xs:element ref="map"/>
				<xs:element ref="xi:include"/>
				<xs:element ref="a"/>
			</xs:choice>
			<xs:attribute name="id" type="xs:ID"/>
			<xs:attribute name="class" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="tr">
		<xs:complexType>
			<xs:choice maxOccurs="unbounded">
				<xs:element ref="th"/>
				<xs:element ref="td"/>
			</xs:choice>
			<xs:attribute name="id" type="xs:ID"/>
			<xs:attribute name="class" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="th">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="strong"/>
				<xs:element ref="em"/>
				<xs:element ref="code"/>
				<xs:element ref="sub"/>
				<xs:element ref="sup"/>
				<xs:element ref="br"/>
				<xs:element ref="img"/>
				<xs:element ref="icon"/>
				<xs:element ref="acronym"/>
				<xs:element ref="map"/>
				<xs:element ref="xi:include"/>
				<xs:element ref="a"/>
				<xs:element ref="p"/>
				<xs:element ref="source"/>
				<xs:element ref="note"/>
				<xs:element ref="warning"/>
				<xs:element ref="fixme"/>
				<xs:element ref="table"/>
				<xs:element ref="ol"/>
				<xs:element ref="ul"/>
				<xs:element ref="dl"/>
				<xs:element ref="figure"/>
				<xs:element ref="anchor"/>
			</xs:choice>
			<xs:attribute name="id" type="xs:ID"/>
			<xs:attribute name="class" type="xs:string"/>
			<xs:attribute name="colspan" type="xs:string" default="1"/>
			<xs:attribute name="rowspan" type="xs:string" default="1"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="td">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="strong"/>
				<xs:element ref="em"/>
				<xs:element ref="code"/>
				<xs:element ref="sub"/>
				<xs:element ref="sup"/>
				<xs:element ref="br"/>
				<xs:element ref="img"/>
				<xs:element ref="icon"/>
				<xs:element ref="acronym"/>
				<xs:element ref="map"/>
				<xs:element ref="xi:include"/>
				<xs:element ref="a"/>
				<xs:element ref="p"/>
				<xs:element ref="source"/>
				<xs:element ref="note"/>
				<xs:element ref="warning"/>
				<xs:element ref="fixme"/>
				<xs:element ref="table"/>
				<xs:element ref="ol"/>
				<xs:element ref="ul"/>
				<xs:element ref="dl"/>
				<xs:element ref="figure"/>
				<xs:element ref="anchor"/>
			</xs:choice>
			<xs:attribute name="id" type="xs:ID"/>
			<xs:attribute name="class" type="xs:string"/>
			<xs:attribute name="colspan" type="xs:string" default="1"/>
			<xs:attribute name="rowspan" type="xs:string" default="1"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="li">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="strong"/>
				<xs:element ref="em"/>
				<xs:element ref="code"/>
				<xs:element ref="sub"/>
				<xs:element ref="sup"/>
				<xs:element ref="br"/>
				<xs:element ref="img"/>
				<xs:element ref="icon"/>
				<xs:element ref="acronym"/>
				<xs:element ref="map"/>
				<xs:element ref="xi:include"/>
				<xs:element ref="a"/>
				<xs:element ref="p"/>
				<xs:element ref="source"/>
				<xs:element ref="note"/>
				<xs:element ref="warning"/>
				<xs:element ref="fixme"/>
				<xs:element ref="table"/>
				<xs:element ref="ol"/>
				<xs:element ref="ul"/>
				<xs:element ref="dl"/>
				<xs:element ref="figure"/>
				<xs:element ref="anchor"/>
			</xs:choice>
			<xs:attribute name="id" type="xs:ID"/>
			<xs:attribute name="class" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="ul">
		<xs:complexType>
			<xs:sequence maxOccurs="unbounded">
				<xs:element ref="li"/>
			</xs:sequence>
			<xs:attribute name="id" type="xs:ID"/>
			<xs:attribute name="class" type="xs:string"/>
			<xs:attribute name="spacing">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="compact"/>
						<xs:enumeration value="normal"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="ol">
		<xs:complexType>
			<xs:sequence maxOccurs="unbounded">
				<xs:element ref="li"/>
			</xs:sequence>
			<xs:attribute name="id" type="xs:ID"/>
			<xs:attribute name="class" type="xs:string"/>
			<xs:attribute name="spacing">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="compact"/>
						<xs:enumeration value="normal"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="dl">
		<xs:complexType>
			<xs:sequence maxOccurs="unbounded">
				<xs:element ref="dt"/>
				<xs:element ref="dd"/>
			</xs:sequence>
			<xs:attribute name="id" type="xs:ID"/>
			<xs:attribute name="class" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="dt">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="strong"/>
				<xs:element ref="em"/>
				<xs:element ref="code"/>
				<xs:element ref="sub"/>
				<xs:element ref="sup"/>
				<xs:element ref="br"/>
				<xs:element ref="img"/>
				<xs:element ref="icon"/>
				<xs:element ref="acronym"/>
				<xs:element ref="map"/>
				<xs:element ref="xi:include"/>
				<xs:element ref="a"/>
			</xs:choice>
			<xs:attribute name="id" type="xs:ID"/>
			<xs:attribute name="class" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="dd">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="strong"/>
				<xs:element ref="em"/>
				<xs:element ref="code"/>
				<xs:element ref="sub"/>
				<xs:element ref="sup"/>
				<xs:element ref="br"/>
				<xs:element ref="img"/>
				<xs:element ref="icon"/>
				<xs:element ref="acronym"/>
				<xs:element ref="map"/>
				<xs:element ref="xi:include"/>
				<xs:element ref="a"/>
				<xs:element ref="p"/>
				<xs:element ref="source"/>
				<xs:element ref="note"/>
				<xs:element ref="warning"/>
				<xs:element ref="fixme"/>
				<xs:element ref="table"/>
				<xs:element ref="ol"/>
				<xs:element ref="ul"/>
				<xs:element ref="dl"/>
				<xs:element ref="figure"/>
				<xs:element ref="anchor"/>
			</xs:choice>
			<xs:attribute name="id" type="xs:ID"/>
			<xs:attribute name="class" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="figure">
		<xs:complexType>
			<xs:complexContent>
				<xs:restriction base="xs:anyType">
					<xs:attribute name="src" type="xs:string" use="required"/>
					<xs:attribute name="alt" type="xs:string" use="required"/>
					<xs:attribute name="height" type="xs:string"/>
					<xs:attribute name="width" type="xs:string"/>
					<xs:attribute name="usemap" type="xs:string"/>
					<xs:attribute name="ismap">
						<xs:simpleType>
							<xs:restriction base="xs:NMTOKEN">
								<xs:enumeration value="ismap"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="align" type="xs:string"/>
					<xs:attribute name="id" type="xs:ID"/>
					<xs:attribute name="class" type="xs:string"/>
				</xs:restriction>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="anchor">
		<xs:complexType>
			<xs:complexContent>
				<xs:restriction base="xs:anyType">
					<xs:attribute name="id" type="xs:ID" use="required"/>
					<xs:attribute name="class" type="xs:string"/>
				</xs:restriction>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="document">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="header"/>
				<xs:element ref="body"/>
				<xs:element ref="footer" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="id" type="xs:ID"/>
			<xs:attribute name="class" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="header">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="title"/>
				<xs:element ref="subtitle" minOccurs="0"/>
				<xs:element ref="version" minOccurs="0"/>
				<xs:element ref="type" minOccurs="0"/>
				<xs:element ref="authors" minOccurs="0"/>
				<xs:element ref="notice" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="abstract" minOccurs="0"/>
				<xs:element ref="meta" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="id" type="xs:ID"/>
			<xs:attribute name="class" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="title">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="strong"/>
				<xs:element ref="em"/>
				<xs:element ref="code"/>
				<xs:element ref="sub"/>
				<xs:element ref="sup"/>
				<xs:element ref="a"/>
				<xs:element ref="br"/>
				<xs:element ref="img"/>
				<xs:element ref="icon"/>
				<xs:element ref="acronym"/>
				<xs:element ref="map"/>
			</xs:choice>
			<xs:attribute name="id" type="xs:ID"/>
			<xs:attribute name="class" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="subtitle">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="strong"/>
				<xs:element ref="em"/>
				<xs:element ref="code"/>
				<xs:element ref="sub"/>
				<xs:element ref="sup"/>
			</xs:choice>
			<xs:attribute name="id" type="xs:ID"/>
			<xs:attribute name="class" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="version">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded"/>
			<xs:attribute name="id" type="xs:ID"/>
			<xs:attribute name="class" type="xs:string"/>
			<xs:attribute name="major" type="xs:string"/>
			<xs:attribute name="minor" type="xs:string"/>
			<xs:attribute name="fix" type="xs:string"/>
			<xs:attribute name="tag" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="type">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded"/>
			<xs:attribute name="id" type="xs:ID"/>
			<xs:attribute name="class" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="authors">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="person" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="id" type="xs:ID"/>
			<xs:attribute name="class" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="notice">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="strong"/>
				<xs:element ref="em"/>
				<xs:element ref="code"/>
				<xs:element ref="sub"/>
				<xs:element ref="sup"/>
				<xs:element ref="br"/>
				<xs:element ref="img"/>
				<xs:element ref="icon"/>
				<xs:element ref="acronym"/>
				<xs:element ref="map"/>
				<xs:element ref="xi:include"/>
				<xs:element ref="a"/>
			</xs:choice>
			<xs:attribute name="id" type="xs:ID"/>
			<xs:attribute name="class" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="abstract">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="strong"/>
				<xs:element ref="em"/>
				<xs:element ref="code"/>
				<xs:element ref="sub"/>
				<xs:element ref="sup"/>
				<xs:element ref="br"/>
				<xs:element ref="img"/>
				<xs:element ref="icon"/>
				<xs:element ref="acronym"/>
				<xs:element ref="map"/>
				<xs:element ref="xi:include"/>
				<xs:element ref="a"/>
			</xs:choice>
			<xs:attribute name="id" type="xs:ID"/>
			<xs:attribute name="class" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="meta">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded"/>
			<xs:attribute name="name" type="xs:NMTOKEN" use="required"/>
			<xs:attribute name="id" type="xs:ID"/>
			<xs:attribute name="class" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="body">
		<xs:complexType>
			<xs:choice maxOccurs="unbounded">
				<xs:element ref="section"/>
				<xs:element ref="p"/>
				<xs:element ref="source"/>
				<xs:element ref="note"/>
				<xs:element ref="warning"/>
				<xs:element ref="fixme"/>
				<xs:element ref="table"/>
				<xs:element ref="ol"/>
				<xs:element ref="ul"/>
				<xs:element ref="dl"/>
				<xs:element ref="figure"/>
				<xs:element ref="anchor"/>
				<xs:element ref="xi:include"/>
			</xs:choice>
			<xs:attribute name="id" type="xs:ID"/>
			<xs:attribute name="class" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="section">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="title"/>
				<xs:choice minOccurs="0" maxOccurs="unbounded">
					<xs:element ref="section"/>
					<xs:element ref="p"/>
					<xs:element ref="source"/>
					<xs:element ref="note"/>
					<xs:element ref="warning"/>
					<xs:element ref="fixme"/>
					<xs:element ref="table"/>
					<xs:element ref="ol"/>
					<xs:element ref="ul"/>
					<xs:element ref="dl"/>
					<xs:element ref="figure"/>
					<xs:element ref="anchor"/>
					<xs:element ref="xi:include"/>
				</xs:choice>
			</xs:sequence>
			<xs:attribute name="id" type="xs:ID"/>
			<xs:attribute name="class" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="footer">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="legal"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="legal">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="strong"/>
				<xs:element ref="em"/>
				<xs:element ref="code"/>
				<xs:element ref="sub"/>
				<xs:element ref="sup"/>
				<xs:element ref="br"/>
				<xs:element ref="img"/>
				<xs:element ref="icon"/>
				<xs:element ref="acronym"/>
				<xs:element ref="map"/>
				<xs:element ref="xi:include"/>
				<xs:element ref="a"/>
			</xs:choice>
			<xs:attribute name="id" type="xs:ID"/>
			<xs:attribute name="class" type="xs:string"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
