xml/models/x/xsf/data.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xsf="http://www.bodz.net/xml/current/xsf" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.bodz.net/xml/current/xsf" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="base.xsd"/>
	<xs:group name="data-group">
		<xs:choice>
			<xs:element name="file"/>
			<xs:element name="query"/>
			<xs:element name="execute"/>
		</xs:choice>
	</xs:group>
</xs:schema>
