zlw/abstract-form/abstract-form.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!--DTD generated by XMLSpy v2005 U (http://www.xmlspy.com)-->
<!--the entity declarations may be overridden in the internal subset-->
<!--namespace prefixes-->
<!ENTITY % af "af">
<!--namespace prefix to namespace uri mappings-->
<!ENTITY % af_prefix "%af;:">
<!--namespaces attributes for root element-->
<!ENTITY % documentElementAttributes " xmlns:%af; CDATA #IMPLIED">
<!--the declarations below should not be modified-->
<!--element name mappings-->
<!ENTITY % abstract-form "%af_prefix;abstract-form">
<!ENTITY % versioning "%af_prefix;versioning">
<!ENTITY % section "%af_prefix;section">
<!ENTITY % error "%af_prefix;error">
<!ENTITY % source "%af_prefix;source">
<!ENTITY % doc "%af_prefix;doc">
<!ENTITY % scalar "%af_prefix;scalar">
<!ENTITY % list "%af_prefix;list">
<!ENTITY % item "%af_prefix;item">
<!ENTITY % map "%af_prefix;map">
<!ENTITY % entry "%af_prefix;entry">
<!ENTITY % table "%af_prefix;table">
<!ENTITY % column "%af_prefix;column">
<!ENTITY % row "%af_prefix;row">
<!ENTITY % user "%af_prefix;user">
<!ENTITY % form "%af_prefix;form">
<!ENTITY % callback "%af_prefix;callback">
<!ENTITY % input "%af_prefix;input">
<!ENTITY % constraint "%af_prefix;constraint">
<!ENTITY % selector "%af_prefix;selector">
<!ENTITY % init "%af_prefix;init">
<!ENTITY % list-ref "%af_prefix;list-ref">
<!ENTITY % map-ref "%af_prefix;map-ref">
<!ENTITY % table-ref "%af_prefix;table-ref">
<!ENTITY % method "%af_prefix;method">
<!ENTITY % method-parameter "%af_prefix;method-parameter">
<!ENTITY % type-parameter "%af_prefix;type-parameter">
<!ENTITY % or "%af_prefix;or">
<!ENTITY % not "%af_prefix;not">
<!ENTITY % and "%af_prefix;and">
<!ENTITY % xor "%af_prefix;xor">
<!ENTITY % pattern "%af_prefix;pattern">
<!ENTITY % range "%af_prefix;range">
<!--element and attribute declarations-->
<!--ZLW::
abstract-form-->
<!ELEMENT %abstract-form; ((%versioning;)?, (%section;)*)>
<!ATTLIST %abstract-form;
	%documentElementAttributes; 
>
<!--Not used. -->
<!ELEMENT %versioning; ANY>
<!--sub-section hasn't been supported, yet. -->
<!ELEMENT %section; ((%scalar; | %list; | %map; | %table; | %user;) | %form; | %error; | %doc; | %section;)*>
<!ATTLIST %section;
	name CDATA #IMPLIED
	hint CDATA #IMPLIED
	hidden NMTOKEN #IMPLIED
	%documentElementAttributes; 
>
<!ELEMENT %error; ((%method;)*, (%doc;)?, ((%source;)?, (%error;)*)?)>
<!ATTLIST %error;
	time NMTOKEN #IMPLIED
	provider CDATA #IMPLIED
	type CDATA #IMPLIED
	name CDATA #IMPLIED
	text CDATA #IMPLIED
	detail CDATA #IMPLIED
	hint CDATA #IMPLIED
	%documentElementAttributes; 
>
<!ELEMENT %source; EMPTY>
<!ATTLIST %source;
	name CDATA #IMPLIED
	status CDATA #IMPLIED
>
<!ELEMENT %doc; (#PCDATA)>
<!ATTLIST %doc;
	doctype CDATA #IMPLIED
	%documentElementAttributes; 
>
<!ELEMENT %scalar; (#PCDATA | %type-parameter; | %method;)*>
<!ATTLIST %scalar;
	name CDATA #IMPLIED
	type CDATA #IMPLIED
	hold NMTOKEN #IMPLIED
	hidden NMTOKEN #IMPLIED
	%documentElementAttributes; 
>
<!ELEMENT %list; ((((%type-parameter;)*), (%method;)*), (%item;)*)>
<!ATTLIST %list;
	name CDATA #IMPLIED
	type CDATA #IMPLIED
	hold NMTOKEN #IMPLIED
	hidden NMTOKEN #IMPLIED
	sort NMTOKEN #IMPLIED
	sort-order (default | ascending | descending) "ascending"
	%documentElementAttributes; 
>
<!ELEMENT %item; (#PCDATA)>
<!ELEMENT %map; ((((%type-parameter;)*), (%method;)*), (%entry;)*)>
<!ATTLIST %map;
	name CDATA #IMPLIED
	type CDATA #IMPLIED
	hold NMTOKEN #IMPLIED
	hidden NMTOKEN #IMPLIED
	sort (none | key | value) #IMPLIED
	sort-order (default | ascending | descending) "ascending"
	%documentElementAttributes; 
>
<!ELEMENT %entry; (#PCDATA)>
<!ATTLIST %entry;
	key CDATA #REQUIRED
>
<!ELEMENT %table; ((((%type-parameter;)*), (%method;)*), (%column;)+, (%row;)*)>
<!ATTLIST %table;
	name CDATA #IMPLIED
	type CDATA #IMPLIED
	hold NMTOKEN #IMPLIED
	hidden NMTOKEN #IMPLIED
	%documentElementAttributes; 
>
<!--column name is used as tag-name in row(s). -->
<!ELEMENT %column; (((%type-parameter;)*), (%method;)*)>
<!ATTLIST %column;
	name CDATA #IMPLIED
	type NMTOKEN #IMPLIED
	primary-key NMTOKEN #IMPLIED
	sort-priority NMTOKEN #IMPLIED
	sort-order (default | ascending | descending) #IMPLIED
>
<!ELEMENT %row; (#PCDATA)>
<!ELEMENT %user; ((((%type-parameter;)*), (%method;)*))>
<!ATTLIST %user;
	name CDATA #IMPLIED
	type CDATA #IMPLIED
	hold NMTOKEN #IMPLIED
	hidden NMTOKEN #IMPLIED
	%documentElementAttributes; 
>
<!ELEMENT %form; ((%input; | %selector; | %method; | %callback;) | %doc;)+>
<!ATTLIST %form;
	name CDATA #IMPLIED
	type CDATA #IMPLIED
	hint CDATA #IMPLIED
	form-method (get | post | put) #IMPLIED
	%documentElementAttributes; 
>
<!--NOT USED.-->
<!ELEMENT %callback; (((%type-parameter;)*))>
<!ATTLIST %callback;
	xpointer CDATA #REQUIRED
>
<!ELEMENT %input; (((%type-parameter;)*), (%constraint;)*)>
<!ATTLIST %input;
	name CDATA #IMPLIED
	type CDATA #IMPLIED
	init CDATA #IMPLIED
	multiline NMTOKEN #IMPLIED
	read-only NMTOKEN #IMPLIED
	max-length NMTOKEN #IMPLIED
	%documentElementAttributes; 
>
<!ELEMENT %constraint; (%range; | %pattern; | %or; | %not; | %and; | %xor;)>
<!ATTLIST %constraint;
	name CDATA #IMPLIED
	reason CDATA #IMPLIED
	level (default | warning | fatal) #IMPLIED
	side (default | server | client | both) #IMPLIED
>
<!ELEMENT %selector; (((%type-parameter;)*), (%init;)*, (%list-ref; | %map-ref; | %table-ref; | %list; | %map; | %table;))>
<!ATTLIST %selector;
	name CDATA #IMPLIED
	type CDATA #IMPLIED
	init CDATA #IMPLIED
	multiple NMTOKEN #IMPLIED
	read-only NMTOKEN #IMPLIED
	%documentElementAttributes; 
>
<!--union @init attribute.-->
<!ELEMENT %init; (#PCDATA)>
<!ELEMENT %list-ref; (#PCDATA)>
<!ELEMENT %map-ref; (#PCDATA)>
<!ELEMENT %table-ref; (#PCDATA)>
<!ELEMENT %method; (((%type-parameter;)*), (%method-parameter;)*)>
<!ATTLIST %method;
	name CDATA #IMPLIED
	type CDATA #IMPLIED
	hint CDATA #IMPLIED
	const NMTOKEN #IMPLIED
	%documentElementAttributes; 
>
<!ELEMENT %method-parameter; (#PCDATA)>
<!ATTLIST %method-parameter;
	name CDATA #REQUIRED
>
<!ELEMENT %type-parameter; (#PCDATA)>
<!ATTLIST %type-parameter;
	name CDATA #REQUIRED
>
<!ELEMENT %or; ((%range; | %pattern; | %or; | %not; | %and; | %xor;))+>
<!ATTLIST %or;
	%documentElementAttributes; 
>
<!ELEMENT %not; ((%range; | %pattern; | %or; | %not; | %and; | %xor;))>
<!ATTLIST %not;
	%documentElementAttributes; 
>
<!ELEMENT %and; ((%range; | %pattern; | %or; | %not; | %and; | %xor;))+>
<!ATTLIST %and;
	%documentElementAttributes; 
>
<!ELEMENT %xor; ((%range; | %pattern; | %or; | %not; | %and; | %xor;))+>
<!ATTLIST %xor;
	%documentElementAttributes; 
>
<!ELEMENT %pattern; EMPTY>
<!ATTLIST %pattern;
	regex CDATA #REQUIRED
	case-insensitive NMTOKEN #IMPLIED
	dot-all NMTOKEN #IMPLIED
	multiline NMTOKEN #IMPLIED
	comment NMTOKEN #IMPLIED
	%documentElementAttributes; 
>
<!--for number, range constraints the the value boundary; 

for text, range constraints the text-length. -->
<!ELEMENT %range; EMPTY>
<!ATTLIST %range;
	min NMTOKEN #IMPLIED
	min-excluded NMTOKEN #IMPLIED
	max NMTOKEN #IMPLIED
	max-excluded NMTOKEN #IMPLIED
	%documentElementAttributes; 
>
