xml/schema/project/pre-project.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v2004 rel. 2 U (http://www.xmlspy.com) by danci.z (labja) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="pre-project">
		<xs:annotation>
			<xs:documentation>Pre-project leads your success!</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="summary" type="summaryType"/>
				<xs:element name="allocate">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="use-case" type="usecaseType" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>The greater the rank if, the more important the use-case is. </xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="technology" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>The greater the risk is, the more difficult in the implementation. </xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="detail" type="xs:string" minOccurs="0"/>
										<xs:element name="skill-requirement" minOccurs="0" maxOccurs="unbounded">
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="xs:string">
														<xs:attribute name="name" type="xs:string" use="required"/>
														<xs:attribute name="minlevel" type="xs:string" use="optional"/>
													</xs:extension>
												</xs:simpleContent>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="name" type="xs:string" use="required"/>
									<xs:attribute name="rank" type="xs:integer" use="optional" default="0"/>
									<xs:attribute name="risk" type="xs:integer" use="optional" default="0"/>
								</xs:complexType>
							</xs:element>
							<xs:element name="resource" maxOccurs="unbounded">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute name="type" type="xs:string" use="optional"/>
											<xs:attribute name="stocks" type="xs:double" use="optional"/>
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="member" type="memberType" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="project-analyse">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="previous" maxOccurs="unbounded">
								<xs:complexType>
									<xs:complexContent>
										<xs:extension base="summaryType">
											<xs:sequence>
												<xs:element name="evaluation" maxOccurs="unbounded">
													<xs:annotation>
														<xs:documentation>Evaluation results. The details about evaluation is included.</xs:documentation>
													</xs:annotation>
													<xs:complexType>
														<xs:simpleContent>
															<xs:extension base="xs:string">
																<xs:attribute name="type" use="required">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:enumeration value="defect"/>
																			<xs:enumeration value="merit"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:attribute>
															</xs:extension>
														</xs:simpleContent>
													</xs:complexType>
												</xs:element>
											</xs:sequence>
											<xs:attribute name="id" type="xs:string" use="required"/>
										</xs:extension>
									</xs:complexContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="background">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="participant" maxOccurs="unbounded">
											<xs:annotation>
												<xs:documentation>The participants in the system. The details information is included.</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="xs:string">
														<xs:attribute name="type" use="optional">
															<xs:simpleType>
																<xs:restriction base="xs:string">
																	<xs:enumeration value="end-user"/>
																	<xs:enumeration value="organization"/>
																	<xs:enumeration value="developer"/>
																	<xs:enumeration value="manager"/>
																</xs:restriction>
															</xs:simpleType>
														</xs:attribute>
														<xs:attribute name="name" type="xs:string" use="required"/>
													</xs:extension>
												</xs:simpleContent>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="reference">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="document" minOccurs="0" maxOccurs="unbounded">
											<xs:annotation>
												<xs:documentation>The document from superiors</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="xs:string">
														<xs:attribute name="type" type="xs:string" use="optional"/>
													</xs:extension>
												</xs:simpleContent>
											</xs:complexType>
										</xs:element>
										<xs:element name="terms">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="term" maxOccurs="unbounded">
														<xs:complexType>
															<xs:simpleContent>
																<xs:extension base="xs:string">
																	<xs:attribute name="abb" type="xs:string" use="required"/>
																</xs:extension>
															</xs:simpleContent>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="requisition" type="requisitionType" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="execute">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="schedule" type="scheduleType"/>
							<xs:element name="output" type="outputType"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="id" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="summaryType">
		<xs:sequence>
			<xs:element name="name" type="xs:string"/>
			<xs:element name="subject" type="xs:string"/>
			<xs:element name="inspiration" type="xs:string"/>
			<xs:element name="introduce" type="xs:string"/>
			<xs:element name="goal" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="taskType">
		<xs:choice maxOccurs="unbounded">
			<xs:element name="step">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:string">
							<xs:attribute name="type" type="xs:string" use="optional"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="sub-task" type="taskType"/>
		</xs:choice>
		<xs:attribute name="name" type="xs:string" use="required"/>
		<xs:attribute name="begin" type="xs:date" use="optional"/>
		<xs:attribute name="end" type="xs:date" use="optional"/>
		<xs:attribute name="status" use="optional" default="suspended">
			<xs:simpleType>
				<xs:restriction base="xs:token">
					<xs:enumeration value="suspended"/>
					<xs:enumeration value="done"/>
					<xs:enumeration value="canceled"/>
					<xs:enumeration value="failed"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="memberType">
		<xs:sequence>
			<xs:element name="skill" maxOccurs="unbounded">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:string">
							<xs:attribute name="level" type="xs:string" use="optional"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="favor" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:string">
							<xs:attribute name="level" type="xs:string" use="optional"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="time-prefer" type="xs:string" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="type" type="xs:string" use="optional"/>
		<xs:attribute name="name" type="xs:string" use="required"/>
		<xs:attribute name="role" type="xs:string" use="required"/>
	</xs:complexType>
	<xs:complexType name="teamType">
		<xs:sequence/>
		<xs:attribute name="name" type="xs:string" use="required"/>
	</xs:complexType>
	<xs:complexType name="requisitionType">
		<xs:sequence>
			<xs:element name="goal" type="xs:string"/>
			<xs:element name="structure" type="xs:string"/>
			<xs:element name="performance" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="scheduleType">
		<xs:sequence>
			<xs:element name="task" maxOccurs="unbounded">
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="taskType"/>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="outputType">
		<xs:sequence>
			<xs:element name="object" type="outputObjectType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="outputObjectType">
		<xs:sequence>
			<xs:element name="trace" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="use-case" minOccurs="0" maxOccurs="unbounded">
							<xs:complexType>
								<xs:attribute name="name" type="xs:string" use="required"/>
							</xs:complexType>
						</xs:element>
						<xs:element name="technology" minOccurs="0" maxOccurs="unbounded">
							<xs:complexType>
								<xs:attribute name="name" type="xs:string" use="required"/>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="rank" type="xs:string" use="optional"/>
		<xs:attribute name="accuracy" type="xs:double" use="optional" default="1.0"/>
	</xs:complexType>
	<xs:complexType name="usecaseType">
		<xs:sequence>
			<xs:element name="detail" type="xs:string"/>
			<xs:element name="sub-use-case" type="usecaseType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="name" type="xs:string" use="required"/>
		<xs:attribute name="rank" type="xs:integer" use="optional" default="0"/>
	</xs:complexType>
</xs:schema>
