xml/schema/project/project-shell.dtd

<?xml version="1.0" encoding="UTF-8"?><!-- edited with XMLSPY v2004 rel. 3 U (http://www.xmlspy.com) by danzci (cpu007) --><!--DTD generated by XMLSPY v2004 rel. 3 U (http://www.xmlspy.com)--><!ELEMENT project-shell (types?, variables?, root, usage?)><!ELEMENT types (extension-type | type-def)*><!ELEMENT variables (variable | sub-variables)*><!ELEMENT root ((node | property)*, (start, system?))><!ATTLIST root	name CDATA #REQUIRED	display CDATA #IMPLIED	type CDATA #REQUIRED	enabled CDATA #IMPLIED	visible CDATA #IMPLIED><!ELEMENT usage (import-role-def?, merge-registry?)><!ELEMENT extension-type (#PCDATA)><!ATTLIST extension-type	extension CDATA #REQUIRED><!ELEMENT type-def (#PCDATA)><!ATTLIST type-def	type CDATA #REQUIRED><!ELEMENT variable (#PCDATA)><!ELEMENT sub-variables (#PCDATA)><!ELEMENT node (node | property)*><!ATTLIST node	name CDATA #REQUIRED	display CDATA #IMPLIED	type CDATA #REQUIRED	enabled CDATA #IMPLIED	visible CDATA #IMPLIED><!ELEMENT property (#PCDATA)><!ATTLIST property	name CDATA #REQUIRED	value CDATA #IMPLIED><!ELEMENT start (node | property)*><!ATTLIST start	name CDATA #REQUIRED	display CDATA #IMPLIED	type CDATA #REQUIRED	enabled CDATA #IMPLIED	visible CDATA #IMPLIED><!ELEMENT system ((node | property)*, (this?, plugins?))><!ATTLIST system	name CDATA #REQUIRED	display CDATA #IMPLIED	type CDATA #REQUIRED	enabled CDATA #IMPLIED	visible CDATA #IMPLIED><!ELEMENT import-role-def EMPTY><!ATTLIST import-role-def	url CDATA #REQUIRED><!ELEMENT merge-registry EMPTY><!ATTLIST merge-registry	registry-path CDATA #REQUIRED><!ELEMENT this (node | property)*><!ATTLIST this	name CDATA #REQUIRED	display CDATA #IMPLIED	type CDATA #REQUIRED	enabled CDATA #IMPLIED	visible CDATA #IMPLIED><!ELEMENT plugins (node | property)*><!ATTLIST plugins	name CDATA #REQUIRED	display CDATA #IMPLIED	type CDATA #REQUIRED	enabled CDATA #IMPLIED	visible CDATA #IMPLIED>