xml/models/n/nfs/filesystem.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!--DTD generated by XMLSpy v2005 U (http://www.xmlspy.com)-->
<!--the entity declarations may be overridden in the internal subset-->
<!--namespace prefixes-->
<!ENTITY % fs "fs">
<!ENTITY % xsf "xsf">
<!--namespace prefix to namespace uri mappings-->
<!ENTITY % fs_prefix "%fs;:">
<!ENTITY % xsf_prefix "%xsf;:">
<!--namespaces attributes for root element-->
<!ENTITY % documentElementAttributes " xmlns:%fs; CDATA #IMPLIED xmlns:%xsf; CDATA #IMPLIED">
<!--the declarations below should not be modified-->
<!--element name mappings-->
<!ENTITY % data "%fs_prefix;data">
<!ENTITY % security "%fs_prefix;security">
<!ENTITY % access-control "%fs_prefix;access-control">
<!ENTITY % owner "%fs_prefix;owner">
<!ENTITY % volume "%fs_prefix;volume">
<!ENTITY % named-stream "%fs_prefix;named-stream">
<!ENTITY % file "%fs_prefix;file">
<!ENTITY % directory "%fs_prefix;directory">
<!ENTITY % link "%fs_prefix;link">
<!ENTITY % special "%fs_prefix;special">
<!ENTITY % structure-composition "%xsf_prefix;structure-composition">
<!ENTITY % structure-tree "%xsf_prefix;structure-tree">
<!ENTITY % node "%xsf_prefix;node">
<!ENTITY % attribute "%xsf_prefix;attribute">
<!ENTITY % embed "%xsf_prefix;embed">
<!ENTITY % include "%xsf_prefix;include">
<!ENTITY % import "%xsf_prefix;import">
<!ENTITY % parameter "%xsf_prefix;parameter">
<!ENTITY % facet "%xsf_prefix;facet">
<!ENTITY % group "%xsf_prefix;group">
<!ENTITY % base-structure "%xsf_prefix;base-structure">
<!ENTITY % base-content "%xsf_prefix;base-content">
<!ENTITY % base-media "%xsf_prefix;base-media">
<!ENTITY % base-declarator "%xsf_prefix;base-declarator">
<!ENTITY % base-executable "%xsf_prefix;base-executable">
<!ENTITY % base-pragma "%xsf_prefix;base-pragma">
<!--element and attribute declarations-->
<!--override storage-object/@value

for file element, file/data is the default stream. -->
<!ELEMENT %data; (#PCDATA)>
<!ELEMENT %security; (%access-control; | %owner;)*>
<!ELEMENT %access-control; EMPTY>
<!ATTLIST %access-control;
	privilege (read | write | execute | modify | remove | setuid | setgid | chmod | chown | chgrp | chacl) #REQUIRED
	method (allowed | forbidden | audit) "allowed"
	object CDATA #IMPLIED
	inheritable NMTOKEN "true"
	inherits NMTOKEN "true"
>
<!--unique ID is used if available. otherwise namespace group, user, or other may be used. 
default everyone-->
<!ELEMENT %owner; (#PCDATA)>
<!ELEMENT %volume; ((%group;)*, (%embed; | %include; | %import;)*, (%data;)?, (%security;)?, ((%directory; | %file; | %link; | %special;))*)>
<!ATTLIST %volume;
	name CDATA #REQUIRED
	value CDATA #IMPLIED
	uuid CDATA #IMPLIED
	hidden NMTOKEN "false"
	created NMTOKEN #IMPLIED
	last-modified NMTOKEN #IMPLIED
	last-accessed NMTOKEN #IMPLIED
	mount CDATA #IMPLIED
	%documentElementAttributes; 
>
<!ELEMENT %named-stream; ((%group;)*, (%embed; | %include; | %import;)*, (%data;)?, (%security;)?)>
<!ATTLIST %named-stream;
	name CDATA #REQUIRED
	value CDATA #IMPLIED
	uuid CDATA #IMPLIED
	hidden NMTOKEN "false"
	created NMTOKEN #IMPLIED
	last-modified NMTOKEN #IMPLIED
	last-accessed NMTOKEN #IMPLIED
>
<!--Normal file-->
<!ELEMENT %file; ((%group;)*, (%embed; | %include; | %import;)*, (%data;)?, (%security;)?, (%named-stream;)*)>
<!ATTLIST %file;
	name CDATA #REQUIRED
	value CDATA #IMPLIED
	uuid CDATA #IMPLIED
	hidden NMTOKEN "false"
	created NMTOKEN #IMPLIED
	last-modified NMTOKEN #IMPLIED
	last-accessed NMTOKEN #IMPLIED
	%documentElementAttributes; 
>
<!ELEMENT %directory; ((%group;)*, (%embed; | %include; | %import;)*, (%data;)?, (%security;)?, ((%directory; | %file; | %link; | %special;))*)>
<!ATTLIST %directory;
	name CDATA #REQUIRED
	value CDATA #IMPLIED
	uuid CDATA #IMPLIED
	hidden NMTOKEN "false"
	created NMTOKEN #IMPLIED
	last-modified NMTOKEN #IMPLIED
	last-accessed NMTOKEN #IMPLIED
	mount CDATA #IMPLIED
	%documentElementAttributes; 
>
<!--Link file (symbolic or hard)-->
<!ELEMENT %link; ((%group;)*, (%embed; | %include; | %import;)*, (%data;)?, (%security;)?)>
<!ATTLIST %link;
	name CDATA #REQUIRED
	value CDATA #IMPLIED
	uuid CDATA #IMPLIED
	hidden NMTOKEN "false"
	created NMTOKEN #IMPLIED
	last-modified NMTOKEN #IMPLIED
	last-accessed NMTOKEN #IMPLIED
	type (symbolic | hard) "hard"
	target CDATA #REQUIRED
	%documentElementAttributes; 
>
<!--Special file like volume-label, volume-serial, etc. -->
<!ELEMENT %special; ((%group;)*, (%embed; | %include; | %import;)*, (%data;)?, (%security;)?)>
<!ATTLIST %special;
	name CDATA #REQUIRED
	value CDATA #IMPLIED
	uuid CDATA #IMPLIED
	hidden NMTOKEN "false"
	created NMTOKEN #IMPLIED
	last-modified NMTOKEN #IMPLIED
	last-accessed NMTOKEN #IMPLIED
	type (volume-label | volume-serial | vex-entry) #REQUIRED
	%documentElementAttributes; 
>
<!ELEMENT %structure-composition; ((%group;)*, (%embed; | %include; | %import;)*)>
<!ELEMENT %structure-tree; ((%group;)*, (%node;)*)>
<!ELEMENT %node; ((%group;)*, (%node;)*, (%attribute;)*)>
<!ATTLIST %node;
	name CDATA #REQUIRED
	value CDATA #IMPLIED
	facet CDATA #IMPLIED
	type CDATA #IMPLIED
>
<!ELEMENT %attribute; EMPTY>
<!ATTLIST %attribute;
	name CDATA #REQUIRED
	value CDATA #REQUIRED
>
<!--Fragments appended to this document. predefined fragment as follows: head, tail, declare, define, custom. -->
<!ELEMENT %embed; (%group;)*>
<!ATTLIST %embed;
	position CDATA #IMPLIED
	%documentElementAttributes; 
>
<!--Different type(type-uri) of include may be processed differently. 
e.g. xml will be included with version-header stripped. -->
<!ELEMENT %include; EMPTY>
<!ATTLIST %include;
	href CDATA #REQUIRED
	type (xml | text) #IMPLIED
	%documentElementAttributes; 
>
<!--Import is more run-time -->
<!ELEMENT %import; (%parameter;)*>
<!ATTLIST %import;
	href CDATA #REQUIRED
	type CDATA #IMPLIED
	%documentElementAttributes; 
>
<!ELEMENT %parameter; (#PCDATA)>
<!ATTLIST %parameter;
	name CDATA #REQUIRED
	value CDATA #IMPLIED
>
<!ELEMENT %facet; ((%group;)*, (%facet;)*)>
<!ATTLIST %facet;
	version CDATA #IMPLIED
	language CDATA #IMPLIED
	dialect CDATA #IMPLIED
	facet CDATA #IMPLIED
>
<!--A group can be reduced by moving self::all() to parent::, while keep the semantics unchanged. -->
<!ELEMENT %group; (%group;)*>
<!ATTLIST %group;
	%documentElementAttributes; 
>
<!ELEMENT %base-structure; (%group;)*>
<!ELEMENT %base-content; (#PCDATA)>
<!ELEMENT %base-media; (#PCDATA)>
<!ELEMENT %base-declarator; EMPTY>
<!ELEMENT %base-executable; ((%group;)*, (%facet;)*)>
<!ATTLIST %base-executable;
	version CDATA #IMPLIED
	language CDATA #IMPLIED
	dialect CDATA #IMPLIED
	facet CDATA #IMPLIED
>
<!ELEMENT %base-pragma; EMPTY>
